/* Macro Class */

body{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    font-size: 14px;
    /* debug */
    /* background-color: black; */
}

/* Debug */
/* div, header, ul{
    border: 1px solid white;
} */
/* End Debug */

h1 {
    font-size: 40px;
}



/* END of Macro Class */



/* -- First Section */
.mainCanvas{
    height: 100vh;
    position: relative;
    overflow: hidden;
}


/* NAV */
.myNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    height: 18px;
}

.navLinksWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.myNavLink{
    color: white;
    text-transform: uppercase;
}

.zindex{
    z-index: 10;
}


.icon{
    position: relative;
    background-color: sandybrown;
    width: 18px;
    margin-bottom: 5px;
}
.icon:hover,
.icon:focus {
  opacity: 50%;
}
.icon:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ghost{
    display: none;
    position: absolute;
    overflow: scroll;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 350px;
    background-color: white;
    right: -70%;
    transition: ease-in 310ms;
}

.ghostopen{
    display: block;
    right: 0%;
    transition: ease-out 310ms;
}

.secondaryLinks{
    padding: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1px solid #CCCCCC ;
    cursor: pointer;
}

.secondaryLinks:first-child{
    margin-top: 50px;
}

.secondaryLinks:last-child{
    margin-bottom: 100px;
}


/* 1st Section Elements */
.hero{
    padding: 0;
    height: 100vh;
}

.bg-zindex--10{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/img/Homepage_Desktop_Bluesky.png);
}